.cellplot{
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
.cellplot .canvas{
	width: 570px;
	height: 300px;
}
.cellplot .tree{
	width: 570px;
	height: 1200px;
}

.cellplot .info{
	margin-left: auto;
	margin-right: auto;
	word-wrap: break-word; 
	word-break: normal;
	overflow: overlay;
	height: 170px;
}

.footer{
	margin-top: 50px;
}

.node {
	cursor: pointer;
}

.overlay{
	background-color:#fff;
}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node text {
	font-size:22px; 
	font-family:sans-serif;
}

.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 2px;
}

.templink {
	fill: none;
	stroke: red;
	stroke-width: 3px;
}

.ghostCircle.show{
	display:block;
}

.ghostCircle, .activeDrag .ghostCircle{
	display: none;
}

.ColorPanel{

}
.ColorPanel .sliders{
	width:90%;
	height: 60px;
	float: left;
}
.ColorPanel .sliders .con{
	height: 20px;
}
.ColorPanel .sliders .con .slider{
	float: left;
	margin-top: 5px;
	width: 90%;
}
.ColorPanel .sliders .con .text{
	float: right;
}

.ColorPanel .sliders .con .text{
	float: right;
}
.ColorPanel .colorarea {
	width:10%;
	height:60px;
	float: right;
}
